<div class="panel panel-default">
  <div class="panel-heading">
  <strong><%= post.title %></strong>
  -- <%= post.date.to_formatted_s(:long_ordinal) %>
  </div>
  <div class="panel-body">
    <%= post.body.html_safe %>
  </div>
  <div class="panel-footer">
    <%= link_to "Comment, please!", new_post_comment_path(post), class: "btn btn-default pull-right" %>
    <%= render 'comments/comments', post: post %> 
  </div>
</div>
