<% content_for :navbar do %>
  <%= render 'shared/navbar_top' %>
<% end %>

<% content_for :body do %>

<%= render 'post_short', post: @posts[0] %>

<% if @posts.size > 1 %>
<table class="table">
  <thead>
    <tr>
      <th>Previous Posts</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @posts[1..@posts.size].each do |post| %>
      <tr>
        <td><%= link_to post.title, post %><%= post.short_body.html_safe %></td>
        <td><%= post.date.to_formatted_s(:long_ordinal) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

  <style>
    body{ background-color: white; }
  </style>
<% end %>
